/* styles.css */
.body-customer {
  background-color: #ffeeaa;
  width: 1150px;
  height: fit-content;
  margin: 0px auto;
}
.body-admin {
  background-color: #ffeeaa;
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.align-center {
  width: fit-content;
  margin: 0px auto;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.text-center {
  text-align: center;
}
span.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
/* menu.css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}
div.float-left {
  float: left;
}
div.float-right {
  float: right;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 110px;
}
/* datatable.css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
/* app.css */

/* app.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eec317; /* Replace with your preferred color code */
  padding: 10px 20px; /* Add some padding for aesthetics (optional) */
}

ul.menu {
  margin: 0px;
  padding: 0px;
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc (tùy chọn) */
}

li.menu {
  display: inline;
  margin-right: 20px; /* Giữ khoảng cách giữa các mục (tùy chọn) */
  text-transform: uppercase;
  border-right: 1px solid #ccc; /* Thêm đường viền bên phải cho mỗi mục */
  padding-right: 10px; /* Thêm đệm bên phải để tránh nội dung chồng lên đường viền */
}

ul.menu li:last-child {
  border-right: none; /* Xóa đường viền bên phải cho mục menu cuối cùng */
}
/* app.css */
header.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

